[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Bioi"]
	path = Bioi
	url = https://github.com/zcolburn/bioi
[submodule "SimplifyStats"]
	path = SimplifyStats
	url = https://github.com/zcolburn/simplifystats
